
.tjs-contact-person {
    --layout-image-height: 130px;

    margin-top: 50px;
    margin-bottom: 50px;
    &>slot {
        display:block;
    }
    &>div.img {

        &>slot {
            display:block;
            width: var(--layout-image-height);
            height: var(--layout-image-height);
            &>img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        margin-right: 16px;
    }
    &>slot.text {
        display:flex;
        flex-direction:column;
        justify-content:center;

        &>p:last-child {
            margin-bottom: 0;
        }
    }
    display:flex;
    flex-direction:row;

}
