/**
 * Komponente: cols-2
 */

@import "cols-2-bg";
.tjs-cols-2 {
    @include element-to-element-margin-large;

    &.reversed-rows {
        .tjs-cols-2__col {
            &:nth-child(1) {
                order: 2;
            }
        }
    }

    .tjs-wrapper {
        display: flex;
        align-items: center;
    }



    &__col {
        flex-basis: 50%;
        @include col-side-paddings;

        h3 {
            @include h3;
        }

        &--image {
            text-align: center;

            img {
                width: 100%;
                max-width: 375px;
            }
        }

        p {
            @include p;
        }

        a {
            text-decoration: none;
            @include p;
        }
    }

    &.mobile {
        .tjs-wrapper {
            flex-direction: column;
        }

        .tjs-cols-2 {
            &__col {
                flex-basis: 100%;

                &--image {
                    order: 1;

                    @include col-mobile-bottom-paddings;
                }

                &--text-content {
                    order: 2;
                }
            }
        }
    }
}
